---
title: Number functions
---
{% extends 'js-testcases.njk' %}

{% block instructions %}
<p>
  The goal of this exercise is to write functions in the editor to the left that
  pass test cases for the functions shown below. Whenever you are ready to run
  the tests, hit the <svg class="bi
  run-code"><use xlink:href="/img/bootstrap-icons.svg#play-btn-fill"/></svg>
  button above the editor. To see the specification for a function you are
  supposed to write, click a button in the test panel. Once you have written the
  function with the right name, the button will indicate whether the test cases
  are all passing (green, with a ✅) or some are failing (red, with an ❌) and
  clicking the button will show the results of the individual test cases.
</p>
{% endblock %}


{% block testcases %}

<div data-name="add">
  <p>
    A function that takes two numbers and returns their sum.
  </p>
</div>

<div data-name="subtract">
  <p>
    A function that takes two numbers and returns their difference.
  </p>
</div>

<div data-name="multiply">
  <p>
    A function that takes two numbers and returns their product.
  </p>
</div>

<div data-name="divide">
  <p>
    A function that takes two numbers and returns their quotient.
  </p>
  <p>
    You can assume the second argument (the divisor) is not 0."]
  </p>
</div>

<div data-name="mod">
  <p>
    A function that takes two numbers and returns the remainder after dividing
    the first by the second.
  </p>
  <p>
    You can assume the second argument (the divisor) is not 0.
  </p>
</div>

<div data-name="averageOfTwo">
  <p>
    A function that takes two numbers and returns their average.
  </p>
</div>

<div data-name="averageOfThree">
  <p>
    A function that takes three numbers and returns their average.
  </p>
</div>

<div data-name="distance">
  <p>
    A function that takes two numbers and returns how far apart they are on the
    number line.
  </p>
</div>

<div data-name="manhattanDistance">
  <p>
    A function that takes four numbers representing two points in the X/Y plane
    (x1, y1, x2, y2) and returns how far apart they are according to Manhattan
    distance (i.e. the sum of their distance on the x-axis and their distance on
    the y-axis.
  </p>
</div>

<div data-name="euclideanDistance">
  <p>
    A function that takes four numbers representing two points in the X/Y plane
    (x1, y1, x2, y2) and returns how far apart they are according to Euclidian
    distance (i.e. the square root of the sum of their squares of both the
    distance on the x-axis and the y-axis.
  </p>
</div>


{% endblock %}
