---
layout: project
title: Data visualizations
tags:
  - projects
  - Graphics
topics:
  - HTML UI
  - Canvas
  - Data wrangling
---

<figure>
  <img src="dataviz.png">
</figure>

<p>
  This is a quite open-ended project. Data visualization is the process of
  generating graphics that represent data in order to make it more
  understandable. A good visualization can give insights into data that might
  not be at all apparent from the raw data.
</p>

<p>
  For this project you can either start with real data, perhaps from a class
  project for some other class or something you find on the web, and then try to
  visualize it. Or you can focus more on the graphics side, generating fake data
  and then coming up with interesting ways to display it.
</p>

<p>
  An extremely advanced option for this project, which you should only tackle if
  you are quite comfortable already with manipulating the HTML DOM with
  Javascript, is to learn to use the <a href="https://d3js.org/">d3.js</a>
  library.
</p>

<h2>References</h2>

<ul>
  <li><a href="https://catalog.berkeleypubliclibrary.org/?section=resource&resourceid=18709500&currentIndex=1&view=fullDetailsDetailsTab">The visual display of quantitative information</a></li>
  <li><a href="https://d3js.org/">d3.js</a></li>
</ul>
