---
title: Refactor Tic-Tac-Toe
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  The goal here is to take something that works but contains a lot of
  duplication. In this case it is a working tic tac toe program. As you'll see,
  the code contains no new function definitions so there is plenty for you to
  do.
</p>

<p>
  You don't need to change the functionality of this code; it should behave
  exactly the same when your done as it does now. Just make it better
  structured, with less duplication.
</p>
{% endblock %}
