---
layout: project
title: Boids
tags:
  - projects
  - Artificial life
topics:
  - Canvas
  - Animation
  - Artificial life
---

<p>
  <img class="float" src="boids.jpg">
  Boids is classic artificial life program. It simulates a flock of birds by
  creating a number of individual agents ("boids") that each follows a simple
  set of rules that govern how each individual steers to maintain separation
  from other boids, align their direction with other boids, and try to cohere
  with the mass of other boids. From those simple rules very realistic flocking
  behaviors, like those observed in real birds, emerge.
</p>

<p>
  This is a much more open-ended project than Game of Life in that there are
  lots of experiments you can do with even simple boids. For instance what
  happens when you add obstacles in the space the boids occupy that they have to
  avoid. Or you can elaborate the boid world. What if, for example, you make two
  species of boids, a predator and a prey species, where predators try to get
  close to prey and prey try to avoid predators.
</p>


<h2>References</h2>

<ul>
  <li><a href="https://www.red3d.com/cwr/boids/">Craig Reynold’s Boids page</a></li>
  <li><a href="https://en.wikipedia.org/wiki/Boids">Boids - Wikipedia</a></li>
  <li><a href="https://www.cs.cmu.edu/afs/cs/academic/class/15462-s10/www/lec-slides/Lecture24_flocking.pdf">Lecture notes on three basic boid mechanisms</a></li>
</ul>
