<div class="editor-toolbar">
  <h2>Put definitions here.</h2>
  <span>Revisions: <select id="file-revisions"></select>
    <button class="run-code">
      <svg class="bi"><use xlink:href="/img/bootstrap-icons.svg#play-btn-fill"/></svg>
    </button>
  </span>
</div>

<div id="editor" class="editor"></div>

<div class="toolbar minibuffer">
  <span class="minibuffer"></span>
</div>
