<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <title>{{ title }}</title>
  <link href="/css/form-assessment.css" rel="stylesheet" type="text/css">
  <link href="/css/prism.css" media="all" rel="stylesheet" type="text/css">
  <script src="/js/prism.js" defer></script>
  <script src="/js/collapse-instructions.js" defer></script>
  <script src="/js/form-assessment.js" type="module"></script>
</head>
<body>

  {% include 'login-flow.njk' %}
  <div class="pseudo-body">
    {% include 'toolbar.njk' %}

    <div class="container">
      <p id="hidden">
        <svg id="open" class="bi"><use xlink:href="/img/bootstrap-icons.svg#caret-right-fill"/></svg>
        <i>Click to reopen instructions.</i>
      </p>

      <div id="instructions">
        <svg id="close" class="bi"><use xlink:href="/img/bootstrap-icons.svg#caret-down-fill"/></svg>
        {% block instructions %}
        {% endblock %}
      </div>

      <div id="question-container">
        <h2 class="questions">
          <span>Questions</span>
          <label id="show-answers" hidden="true">Show answers: <input type="checkbox"></label>
          <span>
            <span id="previous-q">
              <svg class="bi"><use xlink:href="/img/bootstrap-icons.svg#arrow-left"/></svg>
              <span id="q"></span>
            </span>
            of
            <span id="next-q">
              <span id="of"></span>
              <svg class="bi"><use xlink:href="/img/bootstrap-icons.svg#arrow-right"/></svg>
            </span>
          </span>
        </h2>

        <div id="questions">
          {% block questions %}
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
</body>
</html>
