      <p>
        This is a tool for the <i>{{ metadata.title }}</i> class at Berkeley
        High School. It is intended to provide a simple environment for
        experimenting with Javascript without all the complexities of a full
        development environment such as ReplIt or Glitch which we may use later
        in the year.
      </p>

      <p>
        It is also designed to take advantage of the browser’s ability to run
        Javascript natively. It does not need access to a server to run code
        making in extremely responsive even if the Wifi is flaking out.
      </p>

      <p>
        Finally, under the covers it is saving work to a GitHub repository in a
        very simplified workflow that does not depend on immediately learning
        any git commands. Code written in this environment for each assignment
        is saved to a directory and branch specific to that assignment each time
        it is saved. Thus when the assignment is done, it is easy to go to
        GitHub and create a PR containing just the work on that assignment which
        can then be commented on and worked on further before it is turned in
        and merged to main.
      </p>
