---
layout: project
title: Game of Life
tags:
  - projects
  - Artificial life
topics:
  - Canvas
  - Animation
  - Artificial life
  - Cellular automata
---

<p>
  <img class="float" src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Gospers_glider_gun.gif">
  Conway's Game of Life is one of the originial "artificial life" programs.
  Despite quite simple rules it is capable of generating incredibly complex
  behaviors. In fact, anything that can be computed, on any computer, can be
  computed on a computer running within the world of the Game of Life.
</p>

<p>
  The obvious first step is to implement an animation that fills the drawing
  area with an initial random state and then executes the Game of Life rules.
  Some bells and whistles you might consider are allowing the the speed to be
  adjusted, including possibly faster than one generation per frame. (I.e. since
  the graphics can only be redrawn at most 60 or maybe 120 times per second, if
  you want to go faster than 60 or 120 generations per second you'll need to
  simulate more than one generation on each cycle.)
</p>

<p>
  Another cool trick would be to simulate a much larger universe than fits in
  the drawing area and then provide a way to scroll around and look at different
  parts of the universe or zoom in and out.
</p>



<h2>References</h2>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's Game of Life - Wikipedia</a></li>
  <li><a href="https://www.youtube.com/watch?v=xP5-iIeKXE8">Life in life video</a></li>
</ul>
