---
title: Bouncing ball
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  Welcome to your first programming exercise. We are going to walk through this
  together in class so don't worry about not yet knowing what to do. After this
  exercise quickly introduces a few topics, we’ll go back and actually talk
  about each of them in more detail.
</p>
{% endblock %}
