---
layout: project
title: Flashcards
tags:
  - projects
  - Tools
topics:
  - HTML UI
---

<p>
  <img class="float" src="index-cards.png">
  This is quite an open-ended project. The basic idea is to make a web page that
  can quiz you on some material using something like flash cards. One way to
  approach it would be HTML-centric: make a web page where you write the cards
  in HTML and then write just enough Javascript to control which cards are shown
  when. This has the advantage that you can use all of the features of HTML in
  your flashcards: formatting, images, etc.
</p>

<p>
  Another approach would be to write a more generic web page and then load
  flashcard data into it using Javascript. In that world you might fetch sets of
  questions and answers from your webserver and maybe even have a menu on the
  page to allow you to pick different ones.
</p>

<p>
  Also interesting to play with is the strategy for showing the cards. Spaced
  repitition is a technique that involves asking the same question at increasing
  intervals as long as you get them right.
</p>

<p>
  Another thing to think about is what ways you can take advantage of the fact
  that you're not limited by physical flashcards. Maybe you want to have three
  sided flashcards with a question, an initial answer, and then a more complete
  answer. Anything you can imagine, you can probably program.
</p>

<h2>References</h2>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Spaced_repetition">Spaced repitition</a></li>
</ul>
