---
title: Sudoku
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  Same environment as <a href="/assignments/chess-board">Chess board</a>
  and <a href="/assignments/tic-tac-toe">Tic-Tac-Toe</a> with both
  <code>drawText(text, x, y, color, size)</code>
  and <code>registerOnclick</code>. We're not actually doing this yet but one
  student jumped the gun so I'm making the environment now.
</p>
{% endblock %}
