body {
  width: 80vw;
  margin: 1in auto;
  font-size: 16px;
  font-family: sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

p {
  text-align: left;
  font-style: italic;
  font-size: 16px;
  margin-bottom: 1rem;
}

#start {
  text-align: center;
}

#table {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: space-around;
  margin-top: 1rem;
}

div.cell {
  display: flex;
  flex-direction: row;
  text-align: center;
  font-family: monospace;
}

div.cell span.x {
  position: relative; top: 0.5em; font-size: 80%;
}

div.cell span.fib {
  display: inline-block;
  text-align: center;
  width: 5rem;
  color: #0f0;
  background: #444;
  padding: 5px;
  margin-right: 5px;
}

div.cell span.fib.highlight {
  background: #282;
}

.instructions {
  font-size: 80%;
}

p {
  margin-top: 1rem;
}