---
layout: project
title: Wordle
tags:
  - projects
  - Games
topics:
  - HTML UI
  - data strucures

---

<figure class='float'>
  <img src="wordle.png">
  <figcaption>
  </figcaption>
</figure>

<p>
  You almost certainly know what Wordle is. If not: it's a word guessing game
  where the player has six chances to guess a five-letter word. After each guess
  the game indicates which letters in the guess are correct (coloring them
  green) and which ones are in the word but were in the wrong place in the guess
  (coloring them yellow). Guesses that aren't words are not allowed.
</p>

<p>
  Both to generate the random word to be guessed and to disallow non-words you
  need a list of five-letter words. In the real Wordle there are two word lists:
  a shorter list of possible words to be guessed ad a longer list of words that
  are allowed as guesses.
</p>

<p>
  In the real game there is on-screen keyboard so the user can enter their
  letters by clicking but can also type. In a refined version the user can also
  use backspace and enter.
</p>

<h2>References</h2>

<ul>
  <li><a href="https://www.nytimes.com/games/wordle/index.html/">Wordle at the New York Times</a></li>
</ul>
