---
layout: project
title: Generative art
tags:
  - projects
  - Graphics
topics:
  - Canvas
---

<figure class="float">
  <img src="https://www.michellechandra.com/wp-content/uploads/2013/09/generative-art.gif">
  <figcaption>
    Art from Michelle
    Chandra's <a href="https://www.michellechandra.com/processing/generative-art/">Generative
      Art and Processing</a>
  </figcaption>
</figure>

<p>
  This is an extremely open-ended project. You should do this project if you
  like making visual art and you want to explore the capabilities of using a
  computer to make art. Generative art, according to Wikipedia is art “that in
  whole or in part has been created with the use of an autonomous system”. The
  autonomous system in this case will be your program.
</p>

<p>
  The basic idea is that you write a program that generates graphics or
  animations but rather than just writing code to produce a specific image or
  animation that is the same every time you run the program, there is some
  element of randomness or other input that causes the output of the program to
  change in maybe not entirely predictable ways.
</p>

<p>
  This project is an opportunity to go deep on the graphics primitives provided
  by the HTML Canvas element which are similar to those provide by most computer
  graphics systems. There's also plenty of good math to dig into if that's your
  kind of thing.
</p>

<h2>References</h2>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Generative_art">Generative art - Wikipedia</a></li>
  <li><a href="https://www.michellechandra.com/processing/generative-art/">Generative Art and Processing</a></li>
</ul>
