---
title: Maze solver
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  Another drawing environment like Tic Tac Toe, Chess board, and Sudoku, with
  <code>drawText(text, x, y, color, size)</code>
  and <code>registerOnclick</code>.
</p>
{% endblock %}
