---
title: Boolean birds
---
{% extends 'js-testcases.njk' %}

{% block instructions %}
<p>
  As with the number functions assignment, the goal here is to write
  functions that pass test cases. However all these functions are related in
  that they are about four kinds of birds that exist on on the Island of
  Booleana: Flobby Birds, Bloggy Birds, Flibble Birds, and Globby Birds. See
  the comments in the starter code for important facts about these four
  species of bird that you will need in order to implement the desired
  functions.
</p>
{% endblock %}

{% block testcases %}

<div data-name="isFlobbyBird">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, the
    bird is a Flobby Bird.
  </p>
</div>
<div data-name="isBloggyBird">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, the
    bird is a Bloggy Bird.
  </p>
</div>
<div data-name="isFlibbleBird">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, the
    bird is a Flibble Bird.
  </p>
</div>
<div data-name="isGlobbyBird">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, the
    bird is a Globby Bird.
  </p>
</div>
<div data-name="eatsWorms">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, a
    bird with those characteristics eats worms.
  </p>
</div>
<div data-name="eatsNuts">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, a
    bird with those characteristics eats nuts.
  </p>
</div>
<div data-name="eatsFish">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, a
    bird with those characteristics eats fish.
  </p>
</div>
<div data-name="eatsMice">
  <p>
    Write a function that takes two booleans, one indicating if a given bird is
    red and the other if it is spotted, which returns true if, and only if, a
    bird with those characteristics eats mice.
  </p>
</div>
<div data-name="isRed">
  <p>
    Write a function that takes a single string which is either 'Flobby',
    'Bloggy', 'Flibble', or 'Globby' and returns true if a bird of that kind is
    red
  </p>
</div>
<div data-name="isSpotted">
  <p>
    Write a function that takes a single string which is either 'Flobby',
    'Bloggy', 'Flibble', or 'Globby' and returns true if a bird of that kind is
    spotted
  </p>
</div>
<div data-name="isNotRed">
  <p>
    Write a function that takes a single string which is either 'Flobby',
    'Bloggy', 'Flibble', or 'Globby' and returns true if a bird of that kind is
    not red
  </p>
</div>
<div data-name="isNotSpotted">
  <p>
    Write a function that takes a single string which is either 'Flobby',
    'Bloggy', 'Flibble', or 'Globby' and returns true if a bird of that kind is
    not spotted
  </p>
</div>

{% endblock %}
