---
title: Image expressions
---
{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  This is a copy of the simple-draw environment, specifially for working on the
  "Images challenge" assignment. See the <a href="gallery/">image gallery</a>
  for more instructions.
</p>
{% endblock %}
