---
layout: project
title: Pomodoro timer
tags:
  - projects
  - Tools
topics:
  - HTML UI
---

<figure class='float'>
  <img src="pomodoro.png">
  <figcaption>
    <a href="https://www.flickr.com/photos/149561324@N03/37941061684/">Original photo</a> by Marco Verch <a href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a> licensed.
  </figcaption>
</figure>

<p>
  The Pomodoro technique is a time management technique that was named after the
  tomato shaped timer the inventor used. Basically it requires that you work on
  things for some fixed time (often 25 minutes) and then take a time break (5-10
  minutes) and after every four rounds of this take a longer break (20-30
  minutes).
</p>

<p>
  Obviously keepnig on this schedule would be easier if you had a timer app that
  understood it. There are many out there but why not write your own?
</p>


<h2>References</h2>

<ul>
  <li><a href="https://en.wikipedia.org/wiki/Pomodoro_Technique">Pomodoro Technique - Wikipedia</a></li>
  <li><a href="https://clivethompson.medium.com/i-created-the-best-ever-pomodoro-timer-just-for-you-29f63f926cd1">I Created The Best-Ever Pomodoro Timer, Just For You 🍅</a></li>
</ul>
