---
title: Game of life
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  This is an environment like simple animation where you can write a function
  that draws one frame of an animation and pass it to the <code>animate</code>
  function to have it run in a loop. The goal here is to
  implement <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway’s
  Game of Life</a> a famous and
  fascinating <a href="https://en.wikipedia.org/wiki/Cellular_automaton">cellular
  automaton</a>.
</p>
{% endblock %}
