---
title: Simple animation
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  Slightly more elaborate that simple-draw, this framework lets you build an
  animation.
</p>
{% endblock %}
