---
title: 2023-03-27 higher order functions
script: add-questions
---

{% extends 'code-assessment.njk' %}

{% block instructions %}
<p>
  <svg id="close"
       class="bi"><use xlink:href="/img/bootstrap-icons.svg#caret-down-fill"/></svg>
  This assessment consists of <b><span id="num-questions"></span>
    functions</b> you need to write involving translating between code written
  in the higher-order style (using
  the <code>filter</code>, <code>map</code>, etc. methods on arrays) and the
  non-higher-order style (using <code>for</code> loops, <code>if</code>
  statements, and variables). The first half ask you to translate <i>to</i>
  higher-order style and the second half <i>from</i> higher-order style.
  Feel free to start with whichever questions you are most comfortable with.
  All the questions involve the array of fruit objects defined in the
  starter code as <code>fruitBowl</code> and some questions use the
  functions <code>isTasty</code> and <code>isInconvenient</code> also
  defined in the starter code. You don't need to change any of that code but
  you can use it for testing your functions. (Note that you can hover the
  mouse just to the left of the <code>const</code> on line 1 and click the
  down arrow that appears to collapse the definiton of the array which is
  rather long.)
</p>

<p>
  This is an <b>open book assessment</b>. You may refer to your code from
  previous assignments and may look at whatever documentation is helpful. In
  particular you may want to refer to the answers to
  the <a href="https://github.com/bhs-intro-to-programming/answers/blob/main/assignments/hof-implementation/code.js">HOF
    implementation</a>
  and <a href="https://github.com/bhs-intro-to-programming/answers/blob/main/assignments/array-hofs/code.js">Array
    HOFs</a> assignments. However, you may <i>not</i> use ChatGPT or any other
  AI to write your code.
</p>

<p>
  You can move through the questions with the arrows at the upper right next
  to the <b>1 of <span class="of"></span></b> indicator so if you're not
  sure how to write one function move on to another one and come back if you
  have time at the end. I want to see how much you do know. <b>Note</b>:
  click on the code in the questions to select it so you can copy it into
  the editor as a starting point.
</p>

<p>
  <b>When you are done</b>, please click on your Github username above and
  submit a GitHub pull request of the branch <code id="branch-name"></code>
  and request me as a reviewer.
</p>
{% endblock %}


{% block questions %}
{% endblock %}
