---
title: Python execution
---
{% extends 'jobe-demo.njk' %}

{% block preamble %}
<p>
  This is a simple environment for experimenting with Python. The panel on the
  left is a code editor where you can write a class. The panel on the right
  will contain the output of running your program. If you are logged in,
  changes you make in the editor will be saved.
</p>
{% endblock %}
