---
title: Simple draw
---

{% extends 'generic-frame.njk' %}

{% block instructions %}
<p>
  Welcome to your first programming exercise. This is very freeform. The
  comments in the initial code explain the functions and variables you have
  available.
</p>
{% endblock %}
